.sidebar-container {
  border-radius: 10px !important; /* Bo góc 10px cho sidebar */
}

.active-pro {
  color: rgba(0, 0, 0, 0.5); /* Màu nhạt cho nav mặc định */
  transition: color 0.3s ease; /* Hiệu ứng chuyển màu mượt mà */
}

.active-pro.active {
  color: #000; /* Màu đậm hơn cho nav đang được chọn */
}

.active {
  background-color: #007bff; /* Màu nền cho nav đang hoạt động */
  color: white; /* Màu chữ */
}

.navbar-light .navbar-nav .nav-link {
  color: black; /* Màu chữ cho các nav bình thường */
}
