/* Tiêu đề */
.customer-list-title {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

/* Màn hình nhỏ hơn 1200px */
@media (max-width: 1200px) {
  .sidebar-col {
    /* Ẩn Sidebar nếu không cần thiết cho nội dung khác */
    display: block;
    width: 100%;
    margin-bottom: 20px; /* Khoảng cách dưới sidebar */
  }

  .sidebar-animation {
    width: 100% !important; /* Sidebar chiếm toàn bộ chiều rộng */
    order: 0; /* Sidebar nằm trên cùng */
    position: absolute; /* Sidebar di chuyển lên trên */
    top: 0; /* Đảm bảo Sidebar đứng ở trên cùng */
    left: 0; /* Sidebar chiếm toàn bộ chiều ngang */
    z-index: 1; /* Đảm bảo Sidebar có độ ưu tiên hiển thị cao hơn */
  }

  .col-content {
    width: 100%; /* Nội dung chiếm toàn bộ chiều rộng */
    order: 1; /* Nội dung nằm dưới */
    padding-top: 20px; /* Đảm bảo có khoảng cách từ trên */
  }
}
