.customer-detail {
  margin-top: 20px;
}

.detail-title {
  margin-bottom: 15px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.customer-info {
  margin-top: 10px;
  .form-control {
    margin-bottom: 10px;
  }
}

.action-button {
  margin-right: 10px;
}
