.card-container {
  border: 1px solid #e0e0e0;
  border-radius: 10px;

  .status-label {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;

    &.in-stock {
      background-color: #28a745; // Màu xanh
    }

    &.out-of-stock {
      background-color: #dc3545; // Màu đỏ
    }
  }

  .description {
    font-size: 0.9rem;
    color: #6c757d;
  }

  .product-image {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: auto;
    border-radius: 10px;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    &:hover {
      background-color: #0056b3;
      border-color: #004085;
    }
  }

  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    &:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }
  }

  .action-buttons {
    display: flex; /* Đảm bảo nút luôn nằm ngang */
    gap: 1rem; /* Khoảng cách giữa các nút */
    justify-content: flex-start; /* Đảm bảo căn trái nếu cần */
    flex-wrap: nowrap; /* Đảm bảo không xuống dòng */
  }
}

/* Sử dụng media query để thay đổi cấu trúc khi kích thước màn hình là tablet (740px - 1024px) */
@media (min-width: 740px) and (max-width: 1024px) {
  .card-container .action-buttons {
    display: block; /* Đảm bảo các nút xóa và chỉnh sửa nằm trên các dòng riêng biệt */
    margin-top: 10px; /* Khoảng cách giữa trạng thái và các nút */
  }

  .card-container .pt-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-container .status-label {
    margin-bottom: 10px; /* Giảm khoảng cách của trạng thái khi xuống dòng */
  }

  /* Ẩn dấu gạch dọc khi xuống dòng */
  .card-container .action-buttons {
    margin-top: 10px;
  }

  .card-container .mx-2 {
    display: none; /* Ẩn dấu gạch khi xuống dòng */
  }
}

/* Sử dụng media query cho màn hình dưới 540px để áp dụng thay đổi như tablet */
@media (max-width: 540px) {
  .card-container .action-buttons {
    display: block; /* Đảm bảo các nút xóa và chỉnh sửa nằm trên các dòng riêng biệt */
    margin-top: 10px; /* Khoảng cách giữa trạng thái và các nút */
  }

  .card-container .pt-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-container .status-label {
    margin-bottom: 10px; /* Giảm khoảng cách của trạng thái khi xuống dòng */
  }

  /* Ẩn dấu gạch dọc khi xuống dòng */
  .card-container .mx-2 {
    display: none; /* Ẩn dấu gạch khi xuống dòng */
  }
}
