.homepage-nav-container {
  padding: 10px;
}

.sidebar-container,
.content-container {
  padding: 2px;
}

/* Đảm bảo sidebar trên cùng và nội dung bên dưới khi màn hình nhỏ */
@media (max-width: 768px) {
  .sidebar-container {
    order: 1; /* Đặt sidebar lên trên */
  }

  .content-container {
    order: 2; /* Đặt nội dung bên dưới */
  }
}
