.order-management {
  margin-top: 20px;

  .order-card {
    margin-bottom: 20px; // Khoảng cách giữa các card
  }
}

.order-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}
