.navbar {
  background-color: #ffffff !important; /* Nền trắng */
  color: black; /* Chữ đen */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng phía dưới */
  border-radius: 0; /* Xóa bo góc */
}

.navbar-toggler {
  border: none;
  color: rgb(0, 0, 0);
}

.navbar-toggler-icon {
  background-color: rgb(184, 18, 18) !important;
}

.nav-link {
  color: black !important; /* Chữ đen */
  margin-right: 14px;
  text-decoration: none;
  transition: color 0.3s;

  &:hover,
  &.active {
    color: #17a2b8 !important; /* Màu text-info khi hover */
  }
}

.employee-name {
  color: black;
}

.logo {
  height: 50px;
  margin-right: 10px;
  animation: bounce 1s infinite; /* Thêm animation cho logo */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px); /* Nhảy lên */
  }
  60% {
    transform: translateY(-5px); /* Nhảy xuống */
  }
}

.navbar .nav-item {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
}

/* Căn giữa logo và nav-item */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
